body {
    background-color: rgb(233, 233, 233);
}

.cart-wrapper {
    background-color: white;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.66);
    width: 80%;
    margin: 50px auto;
    padding: 25px;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-btm {
    height: 100%;
}

.cart-top {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
}

.cart-prodname {
    display: flex;
    align-items: flex-start;
    width: 30%;
}

.cart-prodinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.143);
    flex-wrap: wrap;
}

.prod-img {
    height: 105px;
    width: 130px;
    object-fit: contain;
}

.cart-total {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}

.cart-comprar {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.cart-comprar-btn {
    padding: 15px;
    background-color: orange;
    border: none;
    border-radius: 20px;
}

.emptycart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptycart-btn {
    background: none;
    background-color: white;
}

.cart-selecquant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    height: 15%;

}

.cart-selecquant>p {
    margin-bottom: 0;
}

.cart-delete,
.cart-addtocart {
    display: flex;
    align-items: center;
    justify-content: center;

}

.delete-from-cart,
.cart-addone {
    background: none;
    color: black;
    border: none;

}

.delete-from-cart:hover,
.cart-addone:hover {
    opacity: 1;
}




.hidden {
    display: none;
}